{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center mb-3">{{ 'no_student.title' | trans }}</h4>
                <p class='text-center'>
                    {{ 'no_student.text' | trans }}
                </p>
                <hr class="my-4">
                <div class="text-center">
                    <a class="btn btn-light mr-3" href="{{ path('tutor_home') }}" role="button">{{ 'no_student.connect_as_tutor' | trans }}</a>
                    <a class="btn btn-light mr-3" href="{{ path('tutee_home') }}" role="button">{{ 'no_student.connect_as_tutee' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
