{% set locale = app.request.locale|slice(0, 2) %}
<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script>
            window.locale = '{{ locale }}';
        </script>
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
    </head>
    <body>
        {% include '_impersonation_warning.html.twig' %}
        <div id="body-wrapper">
            <div id="main" class="{% if hideFooter is defined %}no-footer{% endif %}">
                {% include 'menu.html.twig' %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
</html>
